

<div class="row m-0 p-0" style="width: 100% !important;">

  <div class="col-12 text-center pt-5">
    <img src="./assets/images/alerta_visa.png" alt="">
  </div>

  <div class="col-12 pt-4 pb-3 text-center" style="color: white; font-size: 20px">
    <strong>
      Ha ocurrido un error en el pago. Vuelva a intentarlo o use otro medio de pago.
    </strong>
    <br>
  </div>

  <div class="col-12 m-0 p-0 pt-3" style="border-top: 2px solid #00000029 !important;">
    <div class="row m-0 p-0 pr-4 pl-4">
      <div class="col-12 col-lg-6 m-0 p-0">
        <p class="m-0 p-0" style="color: white; font-size: 18px;">Fecha y Hora de Transacción:</p>
        <p style="color: white; font-size: 18px;">{{fecHora}}</p>
      </div>
      <div class="col-12 col-lg-6 m-0 p-0">
        <p class="m-0 p-0" style="color: white; font-size: 18px;">Mensaje de Error:</p>
        <p style="color: white; font-size: 18px;">{{errorMessage}}</p>
      </div>
      <!--
      <div class="col-12 col-lg-6 m-0 p-0">
        <p class="m-0 p-0" style="color: #323F4F; font-size: 18px;">Número de Transacción</p>
        <p style="color: #727272; font-size: 18px;">{{numTransaccion}}</p>
      </div>
      <div class="col-12 col-lg-6 m-0 p-0">
        <p class="m-0 p-0" style="color: #323F4F; font-size: 18px;">Tarjeta de Crédito/Débito</p>
        <p style="color: #727272; font-size: 18px;">{{numTarjeta}}</p>
      </div>
      <div class="col-12 col-lg-6 m-0 p-0">
        <p class="m-0 p-0" style="color: #323F4F; font-size: 18px;">Monto</p>
        <p style="color: #727272; font-size: 18px;">$5</p>
      </div>
      <div class="col-12 col-lg-6 m-0 p-0">
        <p class="m-0 p-0" style="color: #323F4F; font-size: 18px;">Moneda</p>
        <p style="color: #727272; font-size: 18px;">Dólares</p>
      </div>
      -->
    </div>
  </div>

</div>
