<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/send-sms">DomiRibbon</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="/send-sms">Envío SMS <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/detalle">Detalle SMS</a>
      </li>
    </ul>
  </div>
</nav>


<div
  class="row m-0 p-0"
  style="background: #2193b0; background: -webkit-linear-gradient(to right, #6dd5ed, #2193b0);
          background: linear-gradient(to right, #6dd5ed, #2193b0);">

  <div
    class="col-12 m-0 p-0 text-center d-flex justify-content-center align-items-center"
    style="font-size: 30px; min-height: 100px; color: white">

    VIAJES INTERNACIONALES

  </div>

  <div class="col-12 m-0 p-0" style="min-height: 70px">

    <div class="row m-0 p-0">

      <div class="col-1 m-0 p-0"></div>

      <div class="col-2 m-0 p-0">

        <div class="btn-group" style="width: 100% !important;" dropdown>
          <button id="button-basic" dropdownToggle type="button" class="btn btn-primary dropdown-toggle"
                  aria-controls="dropdown-basic">
            {{textoSelTipoViaje}} <span class="caret"></span>
          </button>
          <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu"
              role="menu" aria-labelledby="button-basic">
            <!--<li role="menuitem"><a class="dropdown-item" (click)="seleccionarTipoViaje('', 'Todos')">Todos</a></li>-->
            <!--<li role="menuitem"><a class="dropdown-item" (click)="seleccionarTipoViaje('N', 'Nacional')">Nacional</a></li>-->
            <li role="menuitem"><a class="dropdown-item" (click)="seleccionarTipoViaje('I', 'Internacional')">Internacional</a></li>
          </ul>
        </div>

      </div>

      <div class="col-2 m-0 p-0"></div>

      <div class="col-2 m-0 p-0">
        <button class="btn btn-primary form-control" (click)="buscarBoletos()">Buscar</button>
      </div>

      <div class="col-2 m-0 p-0"></div>

      <div class="col-2 m-0 p-0">
        <button class="btn btn-primary form-control" (click)="sendSms(modalSendSmsOk)">Enviar SMS</button>
      </div>

      <div class="col-1 m-0 p-0"></div>

    </div>

  </div>

</div>



<hr>

<div class="row m-0 p-0">
  <div *ngIf="flagBuscar" class="col-12 m-0 p-0 pl-3 pr-3">

    <div class="row m-0 p-0">
      <div class="col-2 m-0 p-0 text-titulo-1">NumBoleto</div>
      <div class="col-3 m-0 p-0 text-titulo-1">Pasajero</div>
      <div class="col-3 m-0 p-0 text-titulo-1">Ruta</div>
      <div class="col-1 m-0 p-0 text-titulo-1">Nacional</div>
      <div class="col-2 m-0 p-0 text-titulo-1">TelefonoPax</div>
      <div class="col-1 m-0 p-0">
        <input type="checkbox" [(ngModel)]="checkboxAll" (change)="checkAll()">
      </div>
    </div>


    <div class="row m-0 p-0" *ngFor="let item of listadoBoletos; let i=index">
      <div class="col-2 m-0 p-0 text-2">{{item.NumBoleto}}</div>
      <div class="col-3 m-0 p-0 text-2">{{item.Pasajero}}</div>
      <div class="col-3 m-0 p-0 text-2">{{item.Ruta}}</div>
      <div class="col-1 m-0 p-0 text-2 text-center">{{item.Nacional}}</div>
      <div class="col-2 m-0 p-0 text-2">{{item.TelefonoPax}}</div>
      <div class="col-1 m-0 p-0">
        <input type="checkbox" [id]="idCheckBox+i" [(ngModel)]="item.Chekeado" (change)="onFilterChange($event, item)" [value]="item.NumBoleto">
      </div>
    </div>

  </div>
</div>


<ngx-spinner
  bdColor = "rgba(51, 51, 51, 0.8)"
  size = "medium"
  color = "#fff"
  type = "ball-spin-fade-rotating"
  style="width: 100% !important; height: 100% !important;"

></ngx-spinner>

<ng-template #modalSendSmsOk>
  <div class="modal-body">

    <div class="" style="width: 100% !important;">
      <h1>Enviados correctamente!!!</h1>
    </div>

    <div class="" style="width: 100% !important;">
      <div class="row">
        <div class="col-12 text-center">
          <button class="btn btn-primary" (click)="modalRef.hide()">
            OK
          </button>
        </div>
      </div>
    </div>

  </div>
</ng-template>
