

<div class="row m-0 p-0 d-flex justify-content-center align-items-center" style="height: 100vh">
  <div class="col-12 text-center" style="background-color: #779db7; color: white; font-size: 30px">
    <p>
      <img src="./assets/images/check-verde.png" alt="">
    </p>
    <p>
      GRACIAS POR SU COMPRA
    </p>
    <p>
      Se le esta enviando un correo con todos los datos de BlueRibbon
    </p>
  </div>
</div>


<ngx-spinner
  bdColor = "rgba(51, 51, 51, 0.8)"
  size = "medium"
  color = "#fff"
  type = "ball-spin-fade-rotating"
  style="width: 100% !important; height: 100% !important;"

></ngx-spinner>
