
<!--
<div class="row m-0 p-0 d-flex justify-content-center align-items-center" style="height: 100vh">
  <div class="col-12 text-center" style="background-color: #779db7; color: white; font-size: 30px">
    <p>
      <img src="./assets/images/check-verde.png" alt="">
    </p>
    <p>
      GRACIAS POR SU COMPRA
    </p>
    <p>
      Se le esta enviando un correo con todos los datos de BlueRibbon
    </p>
  </div>
</div>
-->

<div class="row m-0 p-0">

  <div class="col-12 m-0 p-0 p-4">
    <div class="row m-0 p-0">
      <div class="d-none d-lg-flex col-lg-2 m-0 p-0"></div>
      <div class="col-12 col-lg-8 m-0 p-0">
        <div class="row m-0 p-0">
          <div class="col-12 col-lg-4 m-0 p-0 text-center d-flex justify-content-center align-items-center">
            <img src="./assets/images/br_icon.png" alt="">
          </div>
          <div class="col-12 col-lg-8 m-0 p-0">
            <p class="m-0 p-0 text-center text-lg-left" style="color: white; font-size: 31px; color: #727272 !important;">
              <strong>Compra exitosa</strong>
            </p>

            <p class="m-0 p-0 text-center text-lg-left" style="color: white; font-size: 18px; color: #727272 !important;">
              Gracias por confiar en <span style="color: #232323">BlueRibbon Bags. </span>  Su equipaje está asegurado.
            </p>
          </div>
        </div>
      </div>
      <div class="d-none d-lg-flex col-lg-2 m-0 p-0"></div>
    </div>
  </div>

  <div class="col-12 m-0 p-0">
    <div class="row m-0 p-0" style="width: 100%">
      <div
        class="p-0 m-0"
        style="width: 100%; height: 5px; background: transparent linear-gradient(270deg, #FCFCFC00 0%, #C5C5C5 100%) 0% 0% no-repeat padding-box; opacity: 1 !important;"></div>
    </div>
  </div>

  <div class="col-12 m-0 p-0 pt-4 pb-4 pl-0 pl-lg-4 text-center text-lg-left" style="color: #323F4F; font-size: 15px">
    PUEDE UTILIZAR LA SIGUIENTE INFORMACION PARA HACER REFERENCIA AL SERVICIO DE SU CLIENTE:
  </div>

  <div class="col-12 m-0 p-0 pl-4 pr-4">
    <div class="row m-0 p-0 box-info-1">
      <div class="col-12 m-0 p-0 pb-3 pt-2 text-center" style="color: #323F4F; font-size: 15px;">
        NÚMERO DE CONTRATO DE SERVICIO DE BRB: <span style="color: #727272; font-size: 14px;">{{serviceNumber}}</span>
      </div>

      <div class="col-12 m-0 p-0 pt-3" style="border-top: 2px solid #00000029 !important;">
        <div class="row m-0 p-0 pr-4 pl-4">
          <div class="col-12 col-lg-4 m-0 p-0">
            <p class="m-0 p-0" style="color: #323F4F; font-size: 18px;">Nombre del pasajero:</p>
            <p style="color: #727272; font-size: 18px;">{{nombrePasajero}}</p>
          </div>

          <div class="col-12 col-lg-4 m-0 p-0">
            <p class="m-0 p-0" style="color: #323F4F; font-size: 18px;">Email</p>
            <p style="color: #727272; font-size: 18px;">{{emailPasajero}}</p>
          </div>

          <div class="col-12 col-lg-4 m-0 p-0">
            <p class="m-0 p-0" style="color: #323F4F; font-size: 18px;">PNR</p>
            <p style="color: #727272; font-size: 18px;">{{pnrPasajero}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-12 m-0 p-0 pt-4 pb-4 pl-0 pl-lg-4 text-center text-lg-left" style="color: #323F4F; font-size: 15px">
    USTED DEBE PROPORCIONAR LA SIGUIENTE INFORMACIÓN A SU  CLIENTE:
  </div>

  <div class="col-12 m-0 p-0 pl-4 pr-4">
    <p style="font-size: 13px; color: #656565; text-align: justify;">
      Su número de Servicio de Blue Ribbon Bags es <span style="color: #727272">{{serviceNumber}}</span>. Esto cubre su(s) vuelo(s) detallado(s) arriba.
    </p>

    <p style="font-size: 13px; color: #727272; text-align: justify;">
      Por favor, mantenga este número guardado ya que lo necesitará para reportar a Blue Ribbon Bags si su equipaje no es entregado.
      Su Servicio está disponible en línea en <span style="color: #E82D56">validation.blueribbonbags.com/ServiceAgreement</span>.
    </p>

    <p style="font-size: 13px; color: #727272; text-align: justify;">
      Si su equipaje no llega al destino final de su vuelo debe realizar un reclamo a la compañía aérea antes de reportar a
      Blue Ribbon Bags. Las maletas no entregadas deben ser reportadas a Blue Ribbon Bags dentro de las 24 horas después del
      aterrizaje del vuelo. Puede reportar el equipaje perdido al <span style="color: #656565">+1 888-BAGGAGE (+1 888-224-4243 – toll free) or +1 917-920-9699</span>, o en línea en <span style="color: #E82D56">validation.blueribbonbags.com/MbrFilingPassenger</span>.
    </p>

    <p style="font-size: 13px; color: #727272; text-align: justify;">
      Por favor, asegúrese de mantener la información de seguimiento de equipaje(referencia de expediente/número de localizador) que la compañia aérea le proporciona al presentar un reclamo de equipaje perdido, Blue Ribbon Bags requerirá esta información para procesar su reporte de equipaje extraviado. Las maletas no entregadas deben ser reportadas a Blue Ribbon Bags dentro de las 24 horas del aterrizaje del vuelo.
      Si usted tiene alguna pregunta por favor no dude en ponerse en contacto con Blue Ribbon Bags mediante el envío de un correo electrónico a <span style="color: #E82D56">agent@BlueRibbonBags.com</span> . Estamos aquí para ayudarle 24 horas al día, 7 días por semana. ¡Viaje seguro y sin preocupaciones!
    </p>
  </div>

  <div class="col-12 m-0 p-0 pt-4 pb-4 pl-0 pl-lg-4 text-center text-lg-left" style="color: #323F4F; font-size: 15px">
    INFORMACIÓN DEL SERVICIO:
  </div>

  <div class="col-12 m-0 p-0 pb-4">
    <div class="row m-0 p-0 pl-1 pr-1 pl-lg-4 pr-lg-4">

      <div class="col-12 col-md-4 m-0 p-0"></div>

      <div class="col-12 col-md-4 m-0 p-0">
        <div class="row m-0 p-0">

          <div class="col-6 m-0 p-0 p-1 d-flex align-items-center" style="border: 1px solid #DBDBDB; color: #656565;">
            Número de Servicio
          </div>

          <div class="col-6 m-0 p-0 p-1 d-flex align-items-center" style="border: 1px solid #DBDBDB; color: #727272;">
            {{serviceNumber}}
          </div>

          <div class="col-6 m-0 p-0 p-1 d-flex align-items-center" style="border: 1px solid #DBDBDB; color: #656565;">
            Cobertura por maleta
          </div>

          <div class="col-6 m-0 p-0 p-1 d-flex align-items-center" style="border: 1px solid #DBDBDB; color: #727272;">
            $1,000.00
          </div>

          <div class="col-6 m-0 p-0 p-1 d-flex align-items-center" style="border: 1px solid #DBDBDB; color: #656565;">
            El número de pasajeros
          </div>

          <div class="col-6 m-0 p-0 p-1 d-flex align-items-center" style="border: 1px solid #DBDBDB; color: #727272;">
            1
          </div>

          <div class="col-6 m-0 p-0 p-1 d-flex align-items-center" style="border: 1px solid #DBDBDB; color: #656565;">
            Total del cargo (por pax)
          </div>

          <div class="col-6 m-0 p-0 p-1 d-flex align-items-center" style="border: 1px solid #DBDBDB; color: #727272;">
            $5.00
          </div>

        </div>
      </div>

      <div class="col-12 col-md-4 m-0 p-0"></div>


    </div>
  </div>

  <div class="col-12 m-0 p-0 pl-4 pr-4 pt-2 pb-5" style="font-size: 11px; color: #727272; text-align: justify; border-top: 2px solid #00000029 !important;">
    EL SERVICIO DE BLUE RIBBON BAGS NO ES REEMBOLSABLE NI TRANSFERIBLE. NO SE EMITIRÁ REEMBOLSO SI SU VUELO SE CANCELA Y UN NUEVO VUELO SE VENDE EN SU LUGAR. USTED DEBE INFORMARNOS EL CAMBIO PREVIAMENTE AL DESPEGUE DEL NUEVO VUELO, O COMPRAR UN NUEVO SERVICIO PARA SU VUELO. TODOS LOS CAMBIOS DEBEN SER REPORTADOS A BLUE RIBBON BAGS POR CORREO ELECTRÓNICO A INFO@BLUERIBBONBAGS.COM INGRESANDO SU NÚMERO DE SERVICIO EN EL ASUNTO DEL MAIL. DEBE DETALLAR EN EL CUERPO DEL MAIL, SU AEROLÍNEA Y EL NÚMERO/CÓDIGO DE CONFIRMACIÓN DE LA AEROLÍNEA, SU NÚMERO DE VUELO ORIGINAL Y EL NUEVO NÚMERO DE VUELO SI FUE CAMBIADO. SI TAMBIÉN CAMBIA LA AEROLÍNEA, NOS DEBE INFORMAR LA NUEVA AEROLÍNEA DE SU NUEVO VUELO.
  </div>

</div>

<ngx-spinner
  bdColor = "rgba(51, 51, 51, 0.8)"
  size = "medium"
  color = "#fff"
  type = "ball-spin-fade-rotating"
  style="width: 100% !important; height: 100% !important;"

></ngx-spinner>
