

<div class="row m-0 p-0" style="width: 100% !important; height: 100% !important; background-color: white">


  <div class="col-12 m-0 p-0 p-4">
    <div class="row m-0 p-0">
      <div class="d-none d-lg-flex col-lg-2 m-0 p-0"></div>
      <div class="col-12 col-lg-8 m-0 p-0">
        <div class="row m-0 p-0">
          <div class="col-12 col-lg-4 m-0 p-0 text-center d-flex justify-content-center align-items-center">
            <img src="./assets/images/br_icon.png" alt="">
          </div>
          <div class="col-12 col-lg-8 m-0 p-0">
            <p class="m-0 p-0 text-center text-lg-left" style="color: white; font-size: 31px; color: #727272 !important;">
              <strong>Asegure su equipaje</strong>
            </p>

            <p class="m-0 p-0 text-center text-lg-left" style="color: white; font-size: 18px; color: #727272 !important;">
              Obtenga una cobertura de <span style="color: #232323">US$ 1000</span>  por maleta por sólo <span style="color: #232323">5 US$</span>
            </p>
          </div>
        </div>
      </div>
      <div class="d-none d-lg-flex col-lg-2 m-0 p-0"></div>
    </div>
  </div>


  <div class="col-12 m-0 p-0">
    <div class="row m-0 p-0" style="width: 100%">
      <div
        class="p-0 m-0"
        style="width: 100%; height: 5px; background: transparent linear-gradient(270deg, #FCFCFC00 0%, #C5C5C5 100%) 0% 0% no-repeat padding-box; opacity: 1 !important;"></div>
    </div>
  </div>

  <div class="col-12 m-0 p-0 pt-4 pl-0 pl-lg-4 text-center text-lg-left" style="color: #323F4F; font-size: 15px">
    ¿POR QUE ASEGURAR MI EQUIPAJE CON BLUE RIBBON BAGS?
  </div>

  <div class="col-12 m-0 p-0 pt-3">
    <div class="row m-0 p-0 pl-4 pr-4">

      <div class="col-12 col-lg-3 m-0 p-2">
        <div class="row m-0 p-0 box-why">
          <div
            class="col-12 m-0 p-0 text-center pt-4 pl-3 pr-3 height-div-text-1"
          >
            <p class="p-0 m-0">Rastreará su maleta en caso de perdida.</p>
          </div>
          <div class="col-12 m-0 p-0 text-center pb-4 pt-3">
            <img style="width: 75px !important;" src="./assets/images/earth.svg" alt="">
          </div>
        </div>
      </div>

      <div class="col-12 col-lg-3 m-0 p-2">
        <div class="row m-0 p-0 box-why">
          <div class="col-12 m-0 p-0 text-center pt-4 pl-3 pr-3 height-div-text-1">
            <p class="p-0 m-0">Cubre todos los vuelos, en todas las aerolíneas, en
              cualquier parte del mundo.</p>
          </div>
          <div class="col-12 m-0 p-0 text-center pb-4 pt-3">
            <img style="width: 75px !important;" src="./assets/images/cubre.svg" alt="">
          </div>
        </div>
      </div>

      <div class="col-12 col-lg-3 m-0 p-2">
        <div class="row m-0 p-0 box-why">
          <div class="col-12 m-0 p-0 text-center pt-4 pl-3 pr-3 height-div-text-1">
            Notificará por
            correo sobre el
            estado de su maleta
          </div>

          <div class="col-12 m-0 p-0 text-center pb-4 pt-3">
            <img style="width: 75px !important;" src="./assets/images/notification.svg" alt="">
          </div>
        </div>
      </div>

      <div class="col-12 col-lg-3 m-0 p-2">

        <div class="row m-0 p-0 box-why">

          <div class="col-12 m-0 p-0 text-center pt-4 pl-3 pr-3 height-div-text-1">
            $1,000 de Pago por
            maleta, si su maleta
            continua perdida
            durante 4 días.
          </div>

          <div class="col-12 m-0 p-0 text-center pb-4 pt-3">
            <img style="width: 75px !important;" src="./assets/images/money-bag.svg" alt="">
          </div>

        </div>

      </div>

    </div>
  </div>

  <div class="col-12 m-0 p-0 pt-3">
    <hr>
  </div>

  <div class="col-12 m-0 p-0 pt-3 pb-5">
    <div class="row m-0 p-0">

      <div class="col-12 col-md-5 m-0 p-0">

        <div class="row m-0 p-0">
          <div class="col-12 m-0 p-0 text-center" style="color: #323F4F; font-size: 20px">
            SEGURO BLUERIBBON GOLD SERVICE
          </div>

          <div class="col-12 m-0 p-0 text-center">
            <img style="width: 350px" class="img-fluid" src="./assets/images/brb_002.png" alt="">
          </div>
        </div>

      </div>

      <div class="col-12 col-md-7 m-0 p-0 pt-4 pt-md-0 pt-lg-0 pl-2 pr-2">
        <div class="row m-0 p-0">

          <div class="col-12 m-0 p-0">
            <p class="p-0 m-0" style="color: #727272; font-size: 23px">Total a pagar:</p>
          </div>

          <div class="col-12 m-0 p-0">
            <div class="row m-0 p-0">
              <div style="font-size: 77px; color: #232323" class="col-4 m-0 p-0 text-total-pay">
                US$5
              </div>
              <div class="col-8 m-0 p-0 pl-3 d-flex align-items-center">
                <div class="row m-0 p-0">
                  <div class="col-12 m-0 p-0">
                    <p class="p-0 m-0" style="color: #727272; font-size: 16px; width: 100% !important;">
                      Para su vuelo {{pasajeroBoleto.ruta}}
                    </p>
                  </div>

                  <div class="col-12 m-0 p-0">
                    <p class="p-0 m-0" style="color: #727272; font-size: 16px; width: 100% !important;">
                      Del {{pasajeroBoleto.fechaSalida}} al {{pasajeroBoleto.fechaLlegada}}
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-12 m-0 p-0 pt-2 pt-md-0 pt-lg-0 d-flex align-items-center">
            <div class="row m-0 p-0 d-flex justify-content-center justify-content-lg-start align-items-center" style="width: 100% !important;">
              <div class="">
                <input (change)="changeTC()" type="checkbox" [(ngModel)]="aceptarTC">
              </div>
              <div class="pl-2" style="color: #727272; font-size: 21px !important;">
                He leido los <u (click)="openModalTC(templateTC)" style="color: #323F4F; cursor: pointer">Terminos & Condiciones</u>
              </div>
            </div>
          </div>

          <div class="col-12 m-0 p-0 pt-2 text-center text-lg-left pt-3">
            <!--
            <button
              *ngIf="aceptarTC"
              (click)="validacionVisa()"
              class="btn btn-primary"
              style="background: #E82D56 0% 0% no-repeat padding-box !important; font-size: 17px !important; border-radius: 6px; !important; opacity: 1; !important; border-color: #E82D56 !important;"
            >
              Proceder con la compra
            </button>
            -->
            <div id="btn_pago">

              <button id="btnPagaAqui" disabled class="btn" style="background-color: #9b9b9b; color: white;">
                PAGA AQUÍ
              </button>

            </div>
          </div>

        </div>
      </div>

    </div>
  </div>

</div>


<!--


<div class="row m-0 p-0 pt-4">
  <div class="col-12 m-0 p-0 text-center" style="font-size: 30px;">
    Gold Service - US $5.00
  </div>

  <div class="col-12 m-0 p-0 text-center" style="font-size: 30px;">
    US $1,000.00 coverage per bag
  </div>
</div>

<div *ngIf="flagDatos" class="row m-0 p-0 pt-4">
  <div class="col-3 m-0 p-0">Documento Identidad</div>
  <div class="col-3 m-0 p-0">{{pasajeroBoleto.docIdentidad}}</div>
</div>


<div *ngIf="flagDatos" class="row m-0 p-0 pt-4">

  <div class="col-3 m-0 p-0">Nombre</div>

  <div class="col-3 m-0 p-0">{{pasajeroBoleto.nombreCliente}}</div>

  <div class="col-3 m-0 p-0">Apellido</div>

  <div class="col-3 m-0 p-0">{{pasajeroBoleto.apellidoCliente}}</div>

</div>

<div *ngIf="flagDatos" class="row m-0 p-0 pt-4">

  <div class="col-3 m-0 p-0">Celular</div>

  <div class="col-3 m-0 p-0">{{pasajeroBoleto.celular}}</div>

  <div class="col-3 m-0 p-0">Correo</div>

  <div class="col-3 m-0 p-0">{{pasajeroBoleto.correo}}</div>

</div>

<div *ngIf="flagDatos" class="row m-0 p-0 pt-4">

  <div class="col-3 m-0 p-0">Número boleto</div>

  <div class="col-3 m-0 p-0">{{pasajeroBoleto.numBoleto}}</div>

  <div class="col-3 m-0 p-0">Ruta</div>

  <div class="col-3 m-0 p-0">{{pasajeroBoleto.ruta}}</div>

</div>


<div class="row m-0 p-0 pt-5">

  <div class="col-12 m-0 p-0 text-center">

    <button *ngIf="flagValidar" (click)="validacionVisa()" class="btn btn-primary">
      Validar
    </button>

  </div>

</div>

-->

<!--
<div class="row pb-5 mb-5">
  <div class="col-12 text-center">
    <div id="btn_pago">

      <p class="m-0 p-0">PAGA AQUÍ</p>

    </div>
  </div>
</div>
-->


<ngx-spinner
  bdColor = "rgba(51, 51, 51, 0.8)"
  size = "medium"
  color = "#fff"
  type = "ball-spin-fade-rotating"
  style="width: 100% !important; height: 100% !important;"

></ngx-spinner>

<ng-template #templateTC>
  <div class="modal-header">
    <h4 class="modal-title pull-left tituloTC" style="color: #323F4F !important;">Terminos & Condiciones</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRefTC.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="" style="width: 100% !important;">
      <p style="color: #313131; text-align: justify; font-size: 14px;">
        EL SERVICIO DE BLUE RIBBON BAGS NO ES REEMBOLSABLE NI TRANSFERIBLE. NO SE EMITIRÁ REEMBOLSO SI SU VUELO SE
        CANCELA Y UN NUEVO VUELO SE VENDE EN SU LUGAR. USTED DEBE INFORMARNOS EL CAMBIO PREVIAMENTE AL DESPEGUE DEL
        NUEVO VUELO, O COMPRAR UN NUEVO SERVICIO PARA SU VUELO. TODOS LOS CAMBIOS DEBEN SER REPORTADOS A BLUE RIBBON
        BAGS POR CORREO ELECTRÓNICO A <span style="color: #E82D56">INFO@BLUERIBBONBAGS.COM</span> INGRESANDO SU NÚMERO DE SERVICIO EN EL ASUNTO DEL MAIL.
        DEBE DETALLAR EN EL CUERPO DEL MAIL, SU AEROLÍNEA Y EL NÚMERO/CÓDIGO DE CONFIRMACIÓN DE LA AEROLÍNEA, SU NÚMERO
        DE VUELO ORIGINAL Y EL NUEVO NÚMERO DE VUELO SI FUE CAMBIADO. SI TAMBIÉN CAMBIA LA AEROLÍNEA, NOS DEBE INFORMAR
        LA NUEVA AEROLÍNEA DE SU NUEVO VUELO.
      </p>
    </div>
    <div class="text-center" style="width: 100% !important;">
      <button
        class="btn"
        (click)="aceptarTC=true; modalRefTC.hide(); changeTC();"
        style="background: #E82D56 0% 0% no-repeat padding-box; border-radius: 6px; opacity: 1; color: white; width: 200px;"
      >
        Aceptar
      </button>
    </div>
  </div>
</ng-template>
